<!DOCTYPE html>
<head>
    <title>Language Learner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head><html>
  <style>
    .center{

    }
  </style>
  <body>
      <div class="container">
    <h1><center>Welcome</center></h1>
    <script>
      function getInput(){
        var word1 = document.getElementById("word1").value;
        var word2 = document.getElementById("word2").value;
        var word3 = document.getElementById("word3").value;
        var word4 = document.getElementById("word4").value;
        var word5 = document.getElementById("word5").value;
      }
    </script>
    <div class="card">
        <div class=card-body>We're using AI to build stories around words that you input, and we're translating those words so you can learn.</div>
    </div>
    <br>
    <form action = "/response" method="POST">
        
          <h5>Type in words you want to learn:</h5>
          <div class="input-group">
                <input type = "text" id = "word1" name = "word1"/>
                <input type = "text" id = "word2" name = "word2"/>
                <input type = "text" id = "word3" name = "word3"/>
                <input type = "text" id = "word4" name = "word4"/>
                <input type = "text" id = "word5" name = "word5"/>
         </div>
            <br>
      <p><input type = "submit" value = "submit" /></p>
      <!-- <input type = "text" id = "word2" value = "Type in another word you want to learn" />
      <br><br>
      <input type = "text" id = "word3" value = "Type in a third word you want to learn" />
      <button class="btn btn-outline-dark" type="button" form="nameform" value="Submit" onclick="getInput()" role="button">Submit</button>
     -->
    </form>

    <br>
    {% if response_list %}
    <h5>Response:</h5>

      <p>{%for i in range(0, len)%}
        {% set flag = namespace(is=false) %}
          {%for j in range(0,3)%}
            
            {%if response_list[i] == special_words[j]%}
              <b>{{response_list[i]}}</b>
              <i color="green">{{translation[j]}}</i>
              {% set flag.is = true%}
            {%endif%}
          {%endfor%}
         {% if flag.is == false %}
          {{response_list[i]}}
         {%endif%}
         {%endfor%}</p>
      
    {% endif %}
   </div>
  </body>
</html>